<%- include header %>
              <table class="table" width="40">
                <thead>
                  <tr>
                    <th><%= data[0].title %></th>
                  </tr>
                </thead>

                <tbody>
                	<P><%=data[0].announce_date %></P>
                <td ><%= data[0].content %></td>
            </tr>
                </tbody>
              </table>
<%- include footer %>