<%- include header %>
        <div id="announcelist" style="margin-top:0px;" class="mainbox col-md-6 col-sm-8">             
            <div class="container">
              <h2>活動列表</h2>        
              <table class="table" width="40">
                <thead>
                  <tr>
                    <th>活動</th>
                    <th>內容</th>
                  </tr>
                </thead>
                <tbody>
          <% for(var i=0; i<data.length; i++) {%>
            <tr>
                <td><%= data[i].ename %></td>
                <td> 
                    <a  href="/rule/<%= data[i].event_id %>" style="cursor: pointer">
                    	<% for(var j=0; j<10; j++) {%>
                    		<%= data[i].rule[j] %>
                    	<% } %>
                    </a>   
                </td>
            </tr>
          <% } %>
                </tbody>
              </table>
            </div>            
        </div>
<%- include footer %>