<%- include header %>
                        <% if (message.length > 0) { %>
                            <div class="alert alert-danger col-sm-12"><%= message %></div>
                        <% } %>
        <div id="announcelist" style="margin-top:0px;" class="mainbox col-md-6 col-sm-8">             
            <div class="container">
              <h2>最新公告</h2>        
              <table class="table" width="40">
                <thead>
                  <tr>
                    <th>日期</th>
                    <th>活動</th>
                  </tr>
                </thead>
                <tbody>
          <% for(var i=0; i<data.length; i++) {%>
            <tr>
                <td><%= data[i].year %>&ensp;/&ensp;<%= data[i].month %>&ensp;/&ensp;<%= data[i].day %></td>
                <td> 
                    <a  href="/anncs/<%= data[i].announce_id %>" style="cursor: pointer"><%= data[i].title %></a>   
                </td>
            </tr>
          <% } %>
                </tbody>
              </table>
            </div>            
        </div>
 <%- include footer %>
