<%- include header %>
        <div id="announcelist" style="margin-top:0px;" class="mainbox col-md-6 col-sm-8">             
            <div class="container">
              <h2>最新公告</h2>        
              <table class="table" width="40">
                <thead>
                  <tr>
                    <th>日期</th>
                    <th>活動</th>
                  </tr>
                </thead>
                <tbody>
          <% for(var i=0; i<data.length; i++) {%>
            <tr>
                <td ><%= data[i].year %>/<%= data[i].month %>/<%= data[i].day %></td>
                 <td><form id = "content" method='post' action='/anncs' >
                       <input type="hidden" name= "announce_id" value = <%= data[i].announce_id %> />
                        <a  onclick="content.submit()" style="cursor: pointer"><%= data[i].title %></a>                  
                    </form> 
                </td>
            </tr>
          <% } %>
                </tbody>
              </table>
            </div>            
        </div>
 <%- include footer %>
