<%- include header %>
                        <% if (message.length > 0) { %>
                            <div class="alert alert-danger col-sm-12"><%= message %></div>
                        <% } %>
        <div id="announcelist" style="margin-top:0px;" class="mainbox col-md-6 col-sm-8">             
            <div class="container">
              <h2>最新公告</h2> 
                <% if(admin) {%>
                <td><button class="btn btn-info" onclick="window.location.href='/anncs/add';" >新增公告</button></td>
                <% }%>                      
              <table class="table" width="40">
                <thead>
                  <tr>
                    <th>日期</th>
                    <th>公告</th>
                    <% if(admin) {%>
                      <th>刪除</th>
                    <% } %>
                  </tr>
                </thead>
                <tbody>
          <% for(var i=0; i<data.length; i++) {%>
            <tr>
                <td><%= data[i].year %>&ensp;/&ensp;<%= data[i].month %>&ensp;/&ensp;<%= data[i].day %></td>
                <td> 
                    <a  href="/anncs/<%= data[i].announce_id %>" style="cursor: pointer"><%= data[i].title %></a>   
                </td>
                <% if(admin) {%>
                <td><button class="btn btn-info" onclick=" if(sure_delete_annc()) window.location.href='/anncs/delete/<%= data[i].announce_id %>';" >刪除</button></td>
                <% }%> 
            </tr>
          <% } %>
                </tbody>
              </table>
            </div>            
        </div>
 <%- include footer %>
