<%- include header %>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%=data[0].uname%></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Email:</td>
                    <td><%=data[0].email%></td>
                  </tr>
                  <tr>
                    <td>Mobile:</td>
                    <td><%=data[0].phone_num%></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
<% for(var i = 0 ;i< team_id.length;i++){ %>
  <% for(var j=0 ; j< element.length ;j++){ %>
       <% if(element[j].team_id == team_id[i].team_id){ %>
          <h1>活動: <%=element[j].ename%></h1>
          <h2>隊名: <%=element[j].team_name%></h2>
            <%var l = element[j].team_mem %>
            <h4>組員:</h4>
            <%for( var k = j ; k< j+l ; k++){ %>
                <% if(element[k].uid == uid) continue; %>
                <h4><%=element[k].uname%></h4>
            <%}%>
            <% var j = j + l %>
            <hr>  
     <%}%>
    <%}%>
<%}%>
 <%- include footer %>