<%- include header %>
                        <% if (!valid_reg) { %>
                            <div class="alert alert-danger col-sm-12">someone hasn't signup yet!</div>
                        <% } %>
		<div class="container col-sm-12" id="mainform">
            <div id="registerbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                                           
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">報名 &nbsp <%=data[0].ename %></div>
                        </div> 
                        <div class="panel-body" >
                            <form class="form-horizontal" role="form" method="post" action="/register/<%= data[0].event_id %>" onSubmit="return checkblank(this);">


                                <div class="form-group">
                                    <label for="team_name" class="col-md-3 control-label">隊名</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="team_name" placeholder="Name">
                                        <input type="hidden" name="team_mem" value="<%=data[0].max_team_mem %> ">
                                        <input type="hidden" name="event_id" value="<%=data[0].event_id %> ">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="uid" class="col-md-3 control-label">隊長學號</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="uid" placeholder="id">
                                        <input type="hidden" name="leader" value= 1>
                                	</div>
                                </div>
                                <% for(var i=1; i<data[0].max_team_mem; i++) {%>
                                	<% if(i < data[0].min_team_mem){%>
	 	                                <div class="form-group">
		                                    <label class="col-md-3 control-label">組員<%= i %>學號</label>
		                                    <div class="col-md-9">
		                                        <input type="text" class="form-control" name="uid" placeholder="id" required>
		                                        <input type="hidden" name="leader" value= 0>
		                                	</div>
		                                </div> 
		                             <% }else{%>                            		 
		                                <div class="form-group">
		                                    <label class="col-md-3 control-label">組員<%= i %>學號</label>
		                                    <div class="col-md-9">
		                                        <input type="text" class="form-control" name="uid" placeholder="id">
		                                        <input type="hidden" name="leader" value= 0>
		                                	</div>
		                                </div>
	                                <% }%>
								<% } %>
                                <div class="form-group">
                                    <!-- Button -->                                       
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-register" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Submit</button>
                                        
                                    </div>
                                </div>
                            </form>
                         </div>
                    </div> 
                </div>            
         </div>
<%- include footer %>