<%- include header %>
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="head"><p><%= data[0].ename %></p></div>
          <hr/>
          <div class="content"><p><b>活動時間：</b><%=data[0].event_date%></p></div>
          <div class="content"><p><b>活動規則：</b><%=data[0].rule%></p></div>
        </div>
<%- include footer %>